<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarvone - Personal Portfolio</title>
  {% load static %}
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="{% static 'images/my-avatar.png' %}" alt="Tarvone hanrick" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Tarvone hanrick">Tarvone Koome</h1>

          <p class="title">Software Engineer</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:tarvkoome@gmail.com" class="contact-link">tarvkoome@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+254717447335" class="contact-link">+254 717 447 335</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Sign</p>

              <time datetime="2004-06-04">Gemini</time>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Meru, Kenya</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">
          
          <li class="social-item">
            <a href="https://x.com/xxx_Tirva" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          
          <li class="social-item">
            <a href="https://www.linkedin.com/in/tarvone" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
          
          <li class="social-item">
            <a href="https://github.com/Travcort" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Fun</button>
          </li>

          <li class="navbar-item">
            <a href="{% url 'blog:post' %}"><button class="navbar-link">Blog</button></a>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contact</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            I am a Software Engineer from Meru, Kenya, working in web and app development.
            I enjoy
            turning complex problems into simple, beautiful and intuitive designs.
          </p>

          <p>
            My job is to build your website so that it is functional and user-friendly but at the same time attractive.
            Moreover, I
            add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring
            across your
            message and identity in the most creative way.
          </p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'images/icon-design.svg' %}" alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web design</h4>

                <p class="service-item-text">
                  The most modern and high-quality design made at a professional level.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'images/icon-dev.svg' %}" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  High-quality development of sites at the professional level.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'images/icon-app.svg' %}" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Mobile apps</h4>

                <p class="service-item-text">
                  Professional development of applications for iOS and Android.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static 'images/gaming-icon.svg' %}" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Gaming</h4>

                <p class="service-item-text">
                  Ask me about those AAA games you have always dreamed about.
                </p>
              </div>

            </li>

          </ul>

        </section>


        <!--
          - testimonials
        -->

        <section class="testimonials">

          <h3 class="h3 testimonials-title">Testimonials</h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="{% static 'images/avatar-1.png' %}" alt="Daniel lewis" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Daniel lewis</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Tarvone was hired to create a corporate identity. We were very pleased with the work done. He has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="{% static 'images/avatar-2.png' %}" alt="Jessica miller" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Jessica miller</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Tarvone was hired to create a corporate identity. We were very pleased with the work done. He has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="{% static 'images/avatar-3.png' %}" alt="Emily evans" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily evans</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Tarvone was hired to create a corporate identity. We were very pleased with the work done. He has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="{% static 'images/avatar-4.png' %}" alt="Henry william" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry william</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Tarvone was hired to create a corporate identity. We were very pleased with the work done. He has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </section>


        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="{% static 'images/avatar-1.png' %}" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="{% static 'images/icon-quote.svg' %}" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Tarvone was hired to create a corporate identity. We were very pleased with the work done. He has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>
        
      

        <!--
          - clients
        -->

        <section class="clients">

          <h3 class="h3 clients-title">Clients</h3>

          <ul class="clients-list has-scrollbar">

            <li class="clients-item">
              <a href="#">
                <img src="{% static 'images/logo-1-color.png' %}" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="{% static 'images/logo-2-color.png' %}" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="{% static 'images/logo-3-color.png' %}" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="{% static 'images/logo-4-color.png' %}" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="{% static 'images/logo-5-color.png' %}" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="{% static 'images/logo-6-color.png' %}" alt="client logo">
              </a>
            </li>

          </ul>

        </section>

      </article>





      <!--
        - #RESUME
      -->

      <article id="resume-page" class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Murang'a University of Technology</h4>

              <span>2023 — Present</span>

              <p class="timeline-text">
                Bachelor of Science in Software Engineering
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Kapsabet High School</h4>

              <span>2019 — 2022</span>

              <p class="timeline-text">
                K.C.S.E <!--Mean Grade B+ -->
              </p>

            </li>

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Certifications</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Full Stack Software Development - Power Learn Project Academy</h4>

              <span>Feb 2024 — June 2024</span>

              <p class="timeline-text">
                Web Development and Design<br>
                Dart with Flutter<br>
                Database Design and Programming with SQL<br>
                Software Development<br>
                Entrepreneurship
              </p>

            </li>
            
            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">AI Career Essentials - ALX</h4>

              <span>May 2024 — July 2024</span>

              <p class="timeline-text">
                AI Augmented Professional Development Skills
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Networking - CISCO Networking Academy</h4>

              <span>2024</span>

              <p class="timeline-text">
                Skills Acquired:<br>
                Network Protocols | Network Infrastructure | Network Setup | Troubleshooting
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Operating Systems - CISCO Networking Academy</h4>

              <span>2024</span>

              <p class="timeline-text">
                Skills acquired:<br>
                Windows | Linux | Mobile Operating Systems
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Proficiency in Microsoft Packages - Microsoft ICT Academy</h4>

              <span>2023</span>

              <p class="timeline-text">
                Skills Acquired:<br>
                Microsoft Word | Excel | PowerPoint | Access | Publisher
              </p>

            </li>

          </ol>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Web Development</h5>
                <data value="80">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Python</h5>
                <data value="70">70%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 70%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Dart With Flutter</h5>
                <data value="50">50%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Javascript</h5>
                <data value="80">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Linux</h5>
                <data value="70">50%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>

            </li>

          </ul>

        </section>

      </article>





      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="fun">

        <header>
          <h2 class="h2 article-title">Fun</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Humour</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Fiction</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Wizardly</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Humour</button>
              </li>

              <li class="select-item">
                <button data-select-item>Fiction</button>
              </li>

              <li class="select-item">
                <button data-select-item>Wizardly</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="wizardly">
              <a href="{% url 'potter:home' %}">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'images/harry-potter-display.jpg' %}" alt="Hogwarts Express" loading="lazy">
                </figure>

                <h3 class="project-title">Harry Potter</h3>

                <p class="project-category">Wizardly</p>

              </a>
            </li>
            
            <li class="project-item  active" data-filter-item data-category="fiction">
              <a href="{% url 'morty:home' %}">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'images/rick-morty-display.jpg' %}" alt="Rick and Morty" loading="lazy">
                </figure>

                <h3 class="project-title">Rick and Morty</h3>

                <p class="project-category">Fiction</p>

              </a>
            </li>
            
            <li class="project-item  active" data-filter-item data-category="humour">
              <a href="{% url 'jokes:home' %}">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'images/jokes-display.jpg' %}" alt="Jokes" loading="lazy">
                </figure>

                <h3 class="project-title">Jokes</h3>

                <p class="project-category">Humour</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="humour">
              <a href="{% url 'facts:main' %}">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static 'images/facts-display.jpg' %}" alt="Facts" loading="lazy">
                </figure>

                <h3 class="project-title">Useless Facts</h3>

                <p class="project-category">Humour</p>

              </a>
            </li>

          </ul>
          
        </section>

      </article>


      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact">

        <header>
          <h2 class="h2 article-title">Contact</h2>
        </header>

        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27060.7070532177!2d37.62930593066242!3d0.05722485060862463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x178821fe56b5066b%3A0xcb1b7dfcec59a73d!2sMeru!5e0!3m2!1sen!2ske!4v1718388975181!5m2!1sen!2ske"
              width="400" height="300" title="Map of Meru County" loading="lazy"></iframe>
          </figure>
        </section>

        <section class="contact-form">

          <h3 class="h3 form-title">Contact Form</h3>

          <form action="#" class="form" data-form>

            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>

              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>

            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>

          </form>

        </section>

      </article>

    </div>

  </main>






  <!--
    - custom js link
  -->
  <script src="{% static 'js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>