<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Post - Detailed</title>
        {% load static %}
            <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="post">
            <div id="title">
                <h1>{{ post.title }}</h1>
                <p>Posted By {{post.author}}</p>
                <p>{{post.created_on}}</p>
            </div>
            <div id="content-div">
                {{ post.content|safe }}
            </div>
        </div>
    </body>
</html>